@import '_fonts';
@import '_vars';

// Structure

html,
body {
  height: 100%;
  color: @color-white;
  font-family: @font-family-bold-ru;
  background: #cb60b3; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjY2I2MGIzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjYWQxMjgzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTUlIiBzdG9wLWNvbG9yPSIjYWQxMjgzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RlNDdhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #cb60b3 0%, #ad1283 45%, #ad1283 55%, #de47ac 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#cb60b3), color-stop(45%,#ad1283), color-stop(55%,#ad1283), color-stop(100%,#de47ac)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #cb60b3 0%,#ad1283 45%,#ad1283 55%,#de47ac 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #cb60b3 0%,#ad1283 45%,#ad1283 55%,#de47ac 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #cb60b3 0%,#ad1283 45%,#ad1283 55%,#de47ac 100%); /* IE10+ */
  background: linear-gradient(135deg,  #cb60b3 0%,#ad1283 45%,#ad1283 55%,#de47ac 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.mainWrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto ~"-@{footer-height}px";
  padding: 0 0 ~"@{footer-height}px";
}

header {
  height: ~"@{header-height}px";
}

footer {
  font-family: @font-family-light-ru;
  height: ~"@{footer-height}px";
  font-size: 1.35em;
  line-height: ~"@{footer-line-height}px";
  text-shadow: 1px 1px 1px #000000;
}


