@import 'partials/_mixins';
@import 'partials/_structure';
@import 'partials/_common';
@import 'partials/_override';

@primary-color: @color-nephritis;
@highlight: @color-white;

.mission {
  font-family: @font-family-bold-ru;
}

.mission .mission-label {
  font-size: 3em;
}

.credentials {
  height: ~"@{credentials-height}px";
}

.recent-users {
  height: ~"@{recent-users-height}px";
  background-color: @color-white;
  color: @color-black;
}

.partners {
  height: ~"@{partners-height}px";
  background-color: @color-white;
  color: @color-black;
}