<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <form role="form">
                <legend>Leave a message</legend>
                <div class="form-group">
                    <label for="first_name">First name</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Sam" required="required" />
                </div>
                <div class="form-group">
                    <label for="last_name">Last name</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Johnson" required="required" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="s.johnsom@gmail.com" required="required" />
                </div>
                <div class="form-group">
                    <label for="v_position">Vital position</label>
                    <select id="v_position" name="v_position" class="form-control">
                        <option>Activist</option>
                        <option>Ambassador</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="6" class="form-control" required="required"></textarea>
                </div>
                <button type="submit" class="btn btn-primary pull-right col-sm-3 col-xs-12">Submit</button>
            </form>
        </div>
    </div>
</div>
<br/>