<div ng-controller="OrganizationsController">
  <div class="container hidden-xs">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div data-ride="carousel" class="carousel slide" id="carousel-gc">
          <ol class="carousel-indicators">
            <li data-slide-to="{{$index}}" data-target="#carousel-gc" ng-class="$first ? 'active' : ''" ng-repeat="fund in funds"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item" ng-class="$first ? 'active' : ''" ng-repeat="fund in funds">
              <!--<img alt="First slide" src="http://placehold.it/1800x900&text=First+slide">-->
              <img src="" ng-src="{{fund.mediaPreview.url}}">

              <div class="carousel-caption">
                <h3>{{fund.name}}</h3>

                <p>{{fund.description | truncate:96}}</p>
              </div>
            </div>
          </div>
          <a href="" class="left carousel-control" onclick="$('#carousel-gc').carousel('prev')">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a href="" class="right carousel-control" onclick="$('#carousel-gc').carousel('next')">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr class="hidden-xs"/>
  <div class="jumbotron">
    <div class="container">
      <div class="row mission">
        <div class="col-xs-12 text-left visible-xs">
          <span class="mission-label">Mission:</span>
        </div>
        <div class="col-md-4 text-center hidden-xs">
          <span class="mission-label">Mission:</span>
        </div>
        <div class="col-md-8 col-xs-12">
          <p style="font-size: 1.3em;">
            Phasellus euismod fermentum urna non vehicula. Ut massa nulla, tincidunt sed accumsan nec, imperdiet non tellus. Praesent non elit vehicula, malesuada
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr class="hidden-xs"/>
  <div ng-include="'static/partials/news-block.html'"></div>
  <hr class="hidden-xs"/>
  <div class="container-fluid hidden-xs">
    <div class="row">
      <div ng-repeat="partner in partners" class="col-sm-6 col-md-3 col-lg-1 text-center">
        <img ng-src="{{partner.logo.url}}" src="" class="img-responsive img-thumbnail"/>
      </div>
    </div>
  </div>
</div>