<div id="newsEntries" ng-controller="NewsController">
    <div class="col-md-4 col-sm-6" ng-repeat="newsEntry in newsEntries">
        <!--<div class="pull-right">
            <a ng-click="deleteEntry(newsEntry)" class="btn btn-xs btn-default" ng-show="hasRole('admin')">Remove</a>
            <a href="#!/edit/{{newsEntry.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')">Edit</a>
        </div>-->
        <div class="well well-sm">
            <h4>{{newsEntry.date | date}}</h4>

            <div class="info">{{newsEntry.content}}</div>
        </div>
    </div>
</div>
